.blogpost {
  &-container {
    background-color: #f9d7d7;
    padding: 5px 10px;
    margin-bottom: 20px;

    &:last-of-type {
      margin: 0;
    }
  }

  &-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
