.galore-pending-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  &-imagebox {
    margin-right: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }

  &-user-text {
    color: grey;
  }

  &-price {
    font-size: 16px;
  }
}
